h1 {
font-size: 24px;
margin-bottom: 10px;
}

button {
padding: 10px 20px;
color: #fff;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
}

table {
width: 100%;
margin-top: 20px;
border: none;
border-collapse: collapse;
}

th, td {
padding: 10px;
border: none;
}

th {
text-align: left;
}

tbody tr:nth-child(odd) {
background-color: #f9f9f9;
color: #000000;
}

tbody tr:hover {
background-color: #4c107e;
}

header {
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px;
background-color: black;
}

.table-titles {
    color: #FF00FF;
}

.header-button:hover {
background-color: #ffffff;
color: #000000;
}

.header-button {
margin-right: 50px;
margin-left: 50px;
padding: 30px 35px;
background-color: black;
color: #fff;
border: none;
border-radius: 50px;
font-size: 25px;
cursor: pointer;
transition: background-color 0.3s;
font-variant: small-caps;
font-weight: 400;
font-size: 25px;
}

.header-black {
background-color: black;
color: white;
}

.text-center {
text-align: center;
vertical-align: middle;
}

.app-title {
text-align: center;
font-size: 24px;
margin-bottom: 10px;
color: white;
}

.livros-table {
width: 80%;
margin: 50px auto;
}

.livros-table th {
text-align: center;
padding: 10px;
font-weight:normal;
font-size: 20px;
}

.livros-table td {
font-family: 'Roboto';
font-size: 16px;
font-weight:bold;
}

.livros-table .col-nome {
width: 20%;
}

.livros-table .col-autor {
width: 20%;
}

.livros-table .col-ano {
width: 20%;
}

.livros-table .col-teste {
width: 20%;
}

.livros-table .col-teste {
width: 20%;
}

.livros-table tbody tr:nth-child(even) {
background-color: black;
color: white;
}

.livros-table tbody tr:hover {
background-color: #FF00FF;
color: white;
transition: background-color 0.3s;
}

.app-title {
animation: fade-in 1s ease-in-out;
}

.btn-get-livros {
animation: slide-in 1s ease-in-out;
}

.livros-table {
animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes slide-in {
from {
    transform: translateX(-100%);
}
to {
    transform: translateX(0);
}
}
