<header>
  <button class="header-button" (click)="getLivros()">Buscar Livros</button>
  <button class="header-button">Inserir Livro</button>
  <button class="header-button">Retirar Livro</button>
  <button class="header-button">Modificar Livro</button>
</header>

<body>
  <table class="livros-table" *ngIf="livros && livros.length > 0">
    <thead>
      <tr>
        <th class="header-black" colspan="3">Informações</th>
      </tr>
      <tr>
        <th class="col-nome">Nome</th>
        <th class="col-autor">Autor</th>
        <th class="col-ano">Ano</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td class="text-center">{{ livro.nome }}</td>
        <td class="text-center">{{ livro.autor }}</td>
        <td class="text-center">{{ livro.ano }}</td>
      </tr>
    </tbody>
  </table>
</body>