<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
  <header>

    <h1>
      Welcome to my fucking library.
      <br>
      Please feel comfortable to do whatever the fuck you want.
    </h1>

    <button class="header-button" (click)="exibirTabela()" (click)="getLivros()"><i class="fas fa-list"></i></button>
    <button class="header-button" (click)="exibirFormulario()"><i class="fas fa-plus"></i></button>
    <button class="header-button"><i class="fas fa-trash"></i></button>
    <button class="header-button"><i class="fas fa-edit"></i></button>
  </header>
  
  <form *ngIf="showFormulario" (ngSubmit)="submitForm()">
    <input type="text" placeholder="Nome" [(ngModel)]="novoLivro.nome" required>
    <input type="text" placeholder="Autor" [(ngModel)]="novoLivro.autor" required>
    <input type="number" placeholder="Ano" [(ngModel)]="novoLivro.ano" required>
    <button type="submit">Cadastrar</button>
  </form>

  <table class="livros-table" *ngIf="showTable && livros && livros.length > 0">
    <thead>
      <tr>
        <th class="header-black" colspan="5">Here are some fucking books that I fucking have:</th>
      </tr>
      <tr class="table-titles">
        <th class="col-teste1">teste</th>
        <th class="col-nome">fucking Title</th>
        <th class="col-autor">fucking Author</th>
        <th class="col-ano">fucking Release Year</th>
        <th class="col-teste2">teste</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td class="text-center">- teste -</td>
        <td class="text-center">- {{ livro.nome }} -</td>
        <td class="text-center">- {{ livro.autor }} -</td>
        <td class="text-center">- {{ livro.ano }} -</td>
        <td class="text-center">- teste -</td>
      </tr>
    </tbody>
  </table>
</body>